@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  height: 100%;
}

body,
html {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* display: block; */
  /* box-sizing: border-box; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 27px; */
  /* 27 / 18 = 15 */
  line-height: 1.5;
  color: #333333;
}

/* Sticky Footer with CSS3 Flexbox */
/* body {} */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

header,
footer {
    flex-shrink: 0;
}
