.button {
  margin: 0;
  padding: 0;
  width: 100px;
  min-height: 40px;
  display: block;
  box-sizing: border-box;
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 27px; */
  /* 27 / 18 = 1.5 */
  line-height: 1.5;
  text-decoration: none;
  /* text-transform: uppercase; */
  text-align: center;
  /* color: $color-gray; */
  /* background-color: $color-white; */
  /* border: 2px solid $color-gray; */
  border: none;
  cursor: pointer;
}

