.footer {
  border-top: 2px solid #E5E5E5;
}

.footer__wrapper {
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  width: 1280px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
