.title {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 27px; */
  /* 27 / 18 = 1.5 */
  line-height: 1.5;
  color: #333333;
}

.title--logo {
  margin-left: 24px;
  font-weight: 700;
  font-size: 28px;
  /* line-height: 32px; */
  /* 32 / 28 = 1.5 */
  line-height: 1.14;
}

.title--big {
  font-weight: 700;
  font-size: 44px;
  /* line-height: 51px; */
  /* 51 / 44 = 1.159 */
  line-height: 1.159;
}

.title--small {
  font-size: 28px;
}
